name: RN version tester for Reanimated from branch

on:
  workflow_dispatch:

env:
  REANIMATED_BRANCH: "layoutanim_rewrite"

jobs:
  build_android:
    name: Build Reaniamted on Android
    uses: ./.github/workflows/build-app-action.yml
    with:
      platform: Android
      runner: ubuntu-latest
      concurrency_group: build_android-branch-${{ github.ref }}
      branch_name: ${{ env.REANIMATED_BRANCH }}

  build_ios:
    name: Build Reaniamted on iOS
    uses: ./.github/workflows/build-app-action.yml
    with:
      platform: iOS
      runner: macos-12
      concurrency_group: build_ios-branch-${{ github.ref }}
      branch_name: 'Reanimated2'

  build_android_windows:
    name: Build Reaniamted on Android (Windows)
    uses: ./.github/workflows/build-app-action.yml
    with:
      platform: Android
      runner: windows-latest
      concurrency_group: build_android_windows-branch-${{ github.ref }}
      branch_name: 'Reanimated2'
